:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #0947FA 30%, #3B6CFF);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #0947FA 50%, #3B6CFF 50%);
  --vp-home-hero-image-filter: blur(44px);
}

.dark {
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #0B3ED1 50%, #0636B8 50%);
}

.vp-doc {
  --vp-code-line-height: 1.7;
}

.VPNavBarTitle .logo {
  height: 34px;
  width: auto;
  border-radius: 6px;
}

.VPNavBarTitle .title > span {
  display: inline-block;
  font-size: 15px;
  line-height: 1;
  transform: translateY(1px);
}

.vp-doc table {
  display: block;
  overflow-x: auto;
}
