:root {
  --vp-c-brand: #0947FA;
  --vp-c-brand-1: #0947FA;
  --vp-c-brand-2: #0B3ED1;
  --vp-c-brand-3: #0636B8;
  --vp-c-brand-light: #3B6CFF;
  --vp-c-brand-dark: #073AD4;
  --vp-c-brand-darker: #052FA8;
  --vp-c-brand-next: #0B3ED1;
}
